.main {
    position: relative;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent-background-color);
    border: 1px solid var(--accent-background-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

.locationName {
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-text-color);
}

.temp {
    font-size: 48px;
    color: var(--primary-text-color);
}

.cloudy {
    font-size: 20px;
    color: var(--primary-text-color);
}

.lastUpdate {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    font-weight: bold;
    color: var(--default-background-color);
}