.plate {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(94, 155, 202, 0.8);
    border: 1px solid rgba(94, 155, 202, 0.8);
}

.title {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #3b3d3d;
    display: flex;
    justify-content: center;
}

.title img {
    margin-right: 5px;
    display: flex;
    justify-content: center;

}

.data {
    font-weight: bold;
    font-size: 24px;
    color: white;
}