.error {
    position: absolute;
    left: 25px;
    bottom: 25px;
    background-color: var(--error-main-color);
    width: 500px;
    min-height: 25px;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.errorText {
    margin-left: 10px;
    margin-right: 25px;
    color: var(--primary-text-color);
}

.rightErrorButton {
    position: absolute;
    right: 5px;
    top: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorButton {
    background-color: transparent;
    border: none;
    color: var(--primary-text-color);
}

.errorButton:hover {
    color: var(--default-background-color);
    cursor: pointer;
}